fastapi
uvicorn
pandas
spacy
sentence-transformers
faiss-cpu
scikit-learn
rapidfuzz
sqlalchemy
pymongo
python-dotenv
passlib[bcrypt]
torch
python-jose
PyMuPDF
pdfplumber
python-docx
email-validator
python-multipart
requests
chromadb>=0.4.24
sentence-transformers>=2.2.2
google-genai>=0.3.0
google-generativeai>=0.8.0
